# environments
**/*env*/
**/*env*/**
**/*env

# VSCode settings
.vscode
.vscode.*
.vscode/*

# macOS
.DS_Store

# byte-compiled / optimized / DLL files
__pycache__/

# playground files
__playground/

# GUI / experiment runtime outputs
results/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ad-hoc data dumps
duplicates.csv
merged.csv
